<% include header %>
<div class="pure-g content">
  <div class="pure-u-1 section-intro parallax-container" data-parallax="scroll" data-image-src="../img/muhka_1.jpg">
    <h1 class="title intro-title">サテライト</h1>
    <h2 class="title intro-subtitle">M HKA BELGIUM + MOT JAPAN | SUMMER 2017</h2>
  </div>
  <div class="pure-u-5-12 section-s">
    <section>
      <h3>GENERAL INFORMATION</h3>
      <p>Over 20 years have passed since Museum of Contemporary Art Tokyo (MOT) first opened. In that time, the Kiyosumi-shirakawa area has rapidly changed, and MOT has grown with its changes. Currently, the area is drawing interest with its blend of history dating from the Edo period (1603-1868), nostalgic old townscapes, and new cultural spaces abuzz with creativity. “SATELLITE 2017” is a project of uncovering Kiyosumi-shirakawa’s true charm with the help of Belgian curators of M HKA. The museum, taking advantage of its temporary closure, is going outside to engage with people, places, and history together with international artists and local residents and shops.</p>
      <h4>Opening Hours</h4>
      <ul>
        <li>11:00 am -18:00 pm</li>
        <li>Every Thursday, Friday, Saturday, Sunday &amp; Public holidays</li>
        <li>Free Admission</li>
      </ul>
    </section>
    <section>
      <h3>VENUES</h3>
      <ul>
        <% for (var i = 0; i < venues.length; i++) { %>
          <li><a href="/venues/<%- i %>" class="venue"><%- venues[i] %></a></li>
        <% } %>
      </ul>
    </section>
    <section>
      <h3>ROOMS</h3>
      <ul>
      <% for (var i = 0; i < rooms.length; i++) { %>
        <li><a href="/rooms/<%- i %>" class="venue"><%- rooms[i] %></a></li>
      <% } %>
      </ul>
    </section>
  </div>
  <div class="pure-u-1 gallery">
    <div class="carousel" data-flickity='{ "imagesLoaded": true }'>
      <% var teller = 0; for(var i=0;i<artwork.length;i++){ %>
        <img src="/img/<%- artwork[i].image %>" alt="<%- artwork[i].title %>" title="<%- artwork[i].title %>">
      <% } %>
    </div>
  </div>
</div>
<% include footer %>
